.letter{
    font-family:cursive;
}

/*index*/
.blue{
    background-image: url("imagens/cano.jpg");
    cursor: pointer;
    width: 230px;
    height: 200px;
    border-radius: 10%;
    font-size: larger;
    font-family:cursive;
    border: 2px solid orchid;
}
.green{
    background-image: url("imagens/quiz.jpg");
    cursor: pointer;
    width: 230px;
    height: 200px;
    border-radius: 10%;
    font-size: larger;
    font-family:cursive;
    border: 2px solid turquoise;
}
.bodyIn {
    background-repeat: no-repeat;
    background-color: gainsboro;
    margin: 50px;
    text-align: center;
    
}

/*Cano*/
.bodyCF{
    background-color:gainsboro;
    text-align: center;
}
.blocoCF{
    background-color: orchid;
    margin-left: 15%;
    margin-right: 15%;
}
.buttonCF{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    font-size: large;
    font-family:cursive;
    background-color: turquoise;
}
.buttonVCF{
    cursor: pointer;
    width: 100px;
    height: 50px;
    border-radius: 10%;
    font-family:cursive;
}
.quest{
    background-color: orchid;
    width: 200px;
    height: 50px;
    border: 2px solid gainsboro;
    font-family:cursive;
}

/*Quiz*/
.bodyQ{
    background-color: gainsboro;
}
#quest{
    background-color: turquoise;
    width: 200px;
    height: 50px;
    border: 2px solid white;
    font-family:cursive;
}
#btn{
    width: 240px;
    height: 60px;
    color: rgb(25, 0, 255);
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition: filter 0.2s;
    border-radius: 10%;
    border: 2px solid white;
    font-family:cursive; 
}
#btn1{
    background: turquoise;
    text-align: center;
    cursor: pointer;
    width: 200px;
    height: 100px;
    font-size: larger;
    border-radius: 10%;
    border: 2px solid rgb(179, 179, 179);
    font-family:cursive;
}
#btn1:hover{
    background:rgb(252, 32, 233);
}
.botao3d	{
    display: block;
    border-color: #999 #000 #000 #999;
    border: 1px solid;
    width: 200px;
    padding: 10px;
    background: rgb(163, 176, 253); 
    color: #000;

    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    }

.botao3d:hover	{
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #000 #999 #999 #000; 
    background: rgb(252, 32, 233);
    }



